<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=localhost;Database=VocabularyTrainer;User Id=VTLogin;Password=VTPass;Trusted_Connection=True;TrustServerCertificate=True;" />
		<add key="MaxWordWeight" value="10" />
	</appSettings>
</configuration>